<template>
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/home">BureauSuite</a></li>
        <li v-for="(item,index) in data"
        v-bind:key="index"
        class="breadcrumb-item" >{{item.charAt(0).toUpperCase() + item.slice(1)}}</li>
    </ol>
</template>

<script>
  export default {
    props:{
        data:Array,
    },
    data() {
      return {
      }
    },
    computed: {

    },
    mounted() {

    },
    methods: {

    }
  }
</script>

