<template>


    <div class="card">

        <div class="card-header">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="h2">{{route.charAt(0).toUpperCase() + route.slice(1)}} - {{model.charAt(0).toUpperCase() + model.slice(1)}}</h2>
                </div>
                <div class="col-md-7">
                    <form class="form-inline float-right" v-on:submit.prevent>
                        <label class="sr-only" for="inlineFormInputName2">Add {{model}}</label>
                        <select class="custom-select my-1 mr-sm-2" id="" v-model="selectedId">
                            <option selected>Choose...</option>
                            <option v-for="(data,index) in computedData" v-bind:key="index" v-bind:value="data.id" >{{data.name}}</option>
                        </select>
                        <button  class="btn btn-primary mb-2"  v-on:click="addModel()"><i class="fas fa-plus-circle"></i> Add</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <b-table striped hover responsive :items="children" ></b-table>
        </div>
        <div class="card-footer">
            <p class="float-right m-0 p-0"><small><strong>Total: {{countRows}}</strong></small></p>
        </div>
    </div>

</template>

<script>
  export default {
    props:{
       parent:String,
       model:String,
       route:String
    },
    data() {
      return {
          children:[],
          data:[],
          selectedId: undefined

      }
    },
    computed: {

        computedData(){
            var _this = this;

            return _.filter(_this.data, function(value){
                return  !_.pluck(_this.children, 'id').includes(value.id);
            });
        },
        countRows(){
            return this.children.length;
        }

    },
    mounted() {

        this.getComponentData();

    },
    methods: {

        getComponentData(){
            var _this = this;
            axios.get('/admin/crud/get/'+_this.route+'/'+ _this.model+'/'+_this.parent).then(function (response) {
                _this.children = response.data.children;
                _this.data = response.data.data;
            });
        },

        attachModel(){
            var _this = this;


            if(_this.selectedId == undefined){
                toastr.error("Please make a valid "+ _this.model + " selection");
                return;
            }

            if(_.pluck(_this.children, 'id').includes(_this.selectedId)){
               toastr.error("You cant link the same " + model + ' twice');
               return;
            }

             axios.get('/admin/crud/attach/'+_this.route+'/'+ _this.model+'/'+_this.parent +'/' + _this.selectedId).then(function (response) {
                 _this.children.push(response.data);
             });

        },

        removeModel(){

        }
    }
  }
</script>

