<template>
    <div>
        <form>
             <input type="hidden" name="_token" :value="csrf">
            <div v-for="(item,index) in fieldsComputed" v-bind:key="index">
                <div class="form-group row" v-if="item.type == 'string'">
                    <label  class="col-sm-2 col-form-label col-form-label-sm"   v-bind:for="item.name" >{{formatLabelHelper(item.name)}}:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" v-model="returnObj[item.name]" v-bind:aria-describedby="item.name" v-bind:placeholder="formatLabelHelper(item.name)">
                    </div>
                </div>
                <div class="form-group row" v-if="item.type == 'boolean'">
                    <label class="col-sm-2 col-form-label col-form-label-sm" v-bind:for="'lable' +item.name">{{formatLabelHelper(item.name)}}:</label>
                    <div class="col-sm-10">
                        <input type="checkbox" class="float-left form-control form-control-sm w-auto"  v-model="returnObj[item.name]"  v-bind:aria-describedby="item.name" >
                    </div>
                </div>
                <div class="form-group row" v-if="item.type == 'bigint'">
                    <label class="col-sm-2 col-form-label col-form-label-sm" v-bind:for="'lable' +item.name">{{formatLabelHelper(item.name)}}:</label>
                    <div class="col-sm-10">
                        <select v-model="returnObj[item.name]">
                            <option v-for="(point,index) in item.data" v-bind:value="point.value" v-bind:key="index">{{point.lable}}</option>
                        </select>
                        <input type="checkbox" class="float-left form-control form-control-sm w-auto"  v-model="returnObj[item.name]"  v-bind:aria-describedby="item.name" >
                    </div>
                </div>
            </div>

             <div class="form-group row" >
                <div class="col-sm-6">
                    <div class="btn btn-success" v-on:click="submitForm">Submit</div>
                </div>
                <div class="col-sm-6">
                    <div class="btn btn-sm btn-warning float-right" v-on:click="resetForm">Reset</div>
                </div>
            </div>

        </form>
    </div>
</template>

<script>
  export default {
    props:{
        fields:Array,
        data:Object,
        route:String
    },
    data() {
      return {
          excludeFields:['uniqueKey'],
          initObj:{},
          returnObj:{},
          csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
      }
    },
    computed: {
        fieldsComputed(){
            var _this = this;
           return _.filter(_this.fields, function(value){
               return !_.contains(_this.excludeFields,value.name);
           });
        }

    },
    mounted(){

        this.initComponent();
    },
    methods: {
        initComponent(){
            var _this = this;


            _.chain(_this.fieldsComputed).each(function(value){

                // if a data object is provided check the object for the value otherwise set to undefined
                if(_this.data[value.name] == undefined){
                    if(value.type=='boolean'){
                        _this.initObj[value.name] = 0;
                    }else{
                        _this.initObj[value.name] = undefined;
                    }

                }else{
                     _this.initObj[value.name] = _this.data[value.name];
                }

            });
            _this.returnObj = Object.assign({}, _this.initObj);
        },
        formatLabelHelper(value){

            var label =  value.split('_').join(' ');
            return label.charAt(0).toUpperCase() + label.slice(1)
        },
        resetForm(){
            this.returnObj = Object.assign({}, this.initObj);
            toastr.success("Form Reset.");
        },
        submitForm(){
            axios.post(this.route, this.returnObj).then(function(response){
                toastr.success("Done");
            }).catch(function(error){
                toastr.error('Whoops something went wrong');
            });
        }
    }


  }
</script>

