<template>
    <div class="table-responsive">
         <table v-bind:id="gridTitle" class="table table-bordered table-condensed table-striped table-primary table-no-padding table-no-margin table-highlight " >
            <thead>
                <tr>
                    <th v-for=" (key , index) in columnData" v-bind:width="key.width" v-bind:key="index"   >
                        <div class="datagrid-header control control-fill" v-on:click="sortBy(key.name)"  data-toggle="tooltip" v-bind:title="key.tooltip">
                            <span >
                                @{{ key.displayName | capitalize }}
                                <span v-show="sortKey === key.name &&  sortOrder === 1"><i class="fa fa-sort-asc fa-fw fa-sm fa-default"></i></span>
                                <span v-show="sortKey === key.name &&  sortOrder === -1"><i class="fa fa-sort-desc fa-fw fa-sm fa-default"></i></span>
                            </span>
                            <span v-show="sortKey === key.name" v-on:click="clearSort" style="float:right;"><i class="fa fa-times fa-fw fa-md fa-default"></i></span>
                        </div>
                    </th>
                </tr>
            </thead>
            <thead v-if="filterKey">
                <tr>
                    <th v-bind:class="key.filterType == 'boolean' ? 'th-search ' + key.align : 'th-search'" class="" v-for="(key,index) in columnData" v-bind:width="key.width" v-bind:key="index"  >
                        <div v-if="key.filter">

                            <input  v-if="key.filterType == 'string'" type="text" class="form-control input-xs" v-model="key.filterValue" v-bind:placeholder="key.displayName">

                            <input v-if="key.filterType == 'boolean'" type="checkbox" v-model="key.filterValue"   v-bind:true-value="1" v-bind:value="key.filterValue">

                            <select class="sel-sm sel-primary" v-if="key.filterType == 'column'" v-model="key.filter">
                                <option v-for="(data,index) in key.columnData" v-bind:key="index" v-bind:value="data">@{{ data }}</option>
                            </select>

                        </div>
                    </th>
                </tr>
            </thead>
            <div v-if="grouped">
                <tbody v-for="(groupedData, index) in filteredData" v-bind:key="index" style="border-top:none !important;" >
                    <tr class="groupedRow pointer" data-toggle="collapse" v-bind:data-target="'#' + gridTitle + '-' + index">
                        <td v-for="(key, index) in columnData" v-bind:key="index" v-bind:class="key.align + ' td-group'" v-bind:width="key.width">
                            <div v-if="key.aggregate == 'total'">
                                <span>
                                    <i class="fa fa-compress fa-fw" style="color:#ffffff; font-size:14px; margin-top: 5px; margin-bottom: 5px;"></i>
                                </span>
                                <span>
                                    Total
                                </span>
                            </div>
                            <div v-if="key.aggregate == 'sum'">
                                <img src="/content/images/sum.png" style="height:14px; "> @{{ groupedData[key.name].formatNumber(key.keyFormat) }}
                            </div>
                            <div v-if="key.aggregate == 'average'">
                                <img src="/content/images/avg.png" style="height:14px; "> @{{ groupedData[key.name].formatNumber(key.keyFormat) }}
                            </div>
                            <div v-if="key.aggregate == undefined">
                                <span v-if="key.name == columnData[0].name">
                                    <i class="fa fa-compress fa-fw" style="color:#ffffff; font-size:14px; margin-top: 5px; margin-bottom: 5px;"></i>
                                    <span v-if="!groupedKey.contains(key.name)" style="word-wrap:break-word;">
                                        @{{ groupedData[groupedKey[0]] }}
                                    </span>
                                </span>
                                <span v-if="groupedKey.contains(key.name)" style="word-wrap:break-word;">
                                    @{{ groupedData[key.name] }}
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr style="border:none;">
                        <td v-bind:colspan="columnData.length" style="padding:0px; border:none;">
                            <div v-bind:id="gridTitle + '-' + index" v-bind:class="isDataRanked(groupedData[groupedKey[0]])">
                                <table class="table table-bordered table-condensed table-striped table-primary table-no-padding table-highlight" style="margin:0px;">
                                    <tbody style="border-top:none !important;">
                                        <tr v-for="entry in groupedData.data">
                                            <td v-for="key in columnData" v-bind:class="key.align" v-bind:width="key.width">
                                                <template v-if="key.type == undefined || key.type == '' || key.type == 'text'">
                                                    <div v-highlight="{ 'value': entry[key.name], 'trackchanges': key.trackchanges }" >
                                                        @{{ entry[key.name] != undefined ? entry[key.name].formatNumber(key.keyFormat) : '' }}
                                                    </div>
                                                </template>
                                                <template v-if="key.type == 'link'">
                                                    <a v-bind:class="key.class" v-bind:href="formatLink(key.href, entry)">@{{ key.value }}</a>
                                                </template>

                                                <template v-if="key.type == 'checkbox'">
                                                    <input type="checkbox" v-bind:name="key.name"   v-model="entry[key.name]"  disabled />
                                                </template>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </div>
            <div v-else>
                <tbody>
                    <tr v-for="(entry,index) in filteredData" v-bind:key="index">
                        <td v-for="(key,index) in columnData" v-bind:key="index" v-bind:class="key.align" v-highlight="{ 'value': entry[key.name], 'trackchanges': key.trackchanges }">
                            <div v-if="key.type == undefined || key.type == '' || key.type == 'text'">
                                @{{ entry[key.name] != undefined ? entry[key.name].formatNumber(key.keyFormat) : '' }}
                            </div>

                            <div v-if="key.type == 'currency'">
                                @{{ entry[key.name] != undefined ? (parseFloat(entry[key.name])).formatNumber(key.keyFormat) : '' }}
                            </div>

                            <div v-if="key.type == 'link'">
                                <a v-bind:class="key.class" v-bind:href="formatLink(key.href, entry)">@{{ key.value }}</a>
                            </div>

                            <div v-if="key.type == 'checkbox'">
                                <input type="checkbox" v-bind:name="key.name"   v-model="entry[key.name]"  />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </div>
        </table>
        <div>
            <div class="pull-right">
                <label class="control-label">Rows : @{{ totalRows }}</label>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
     props: {
            gridTitle: String,
            gridData: Array,
            columns: Array,
            filterKey: Boolean,
            groupedKey: Array,
            showLoadIcon: Boolean
        },
        data: function () {
            return {
                filters: [],
                sortKey: '',
                sortOrder: 1,
                grouped : false,
                colspan : 1,
                formatted: false,
                dataHandling: false,
                totalRows: 0,
                hasDataLoaded: false,
                date: moment().format('YYYY-MM-DD'),
            }
        },
        created: function() {

        },
        updated: function() {
            $('.groupedRow').bind('click', function() {
                $(this).find('.fa').toggleClass('fa-compress fa-expand');
            });
        },
        computed: {
            filteredData: function () {
                var columns = this.columns;
                var data = this.gridData;

                if (this.showLoadIcon && data != undefined && data.length > 0)
                    this.hasDataLoaded = true;

                if (this.filterKey) {
                    _.each(columns, function(col, index) {
                        if (col.filter) {
                            data = data.filter(function (d) {
                                return Object.keys(d).some(function (key) {
                                    if (col.filterType == 'string') {
                                        return String(d[col.name]).toLowerCase().indexOf(col.filterValue.toLowerCase()) > -1;
                                    } else if (col.filterType == 'boolean'){
                                        if (!col.filterValue) {
                                            return true;
                                        } else {
                                            return d[col.name] ? true : false;
                                        }
                                    } else {
                                        return true;
                                    }
                                });
                            });
                        }
                    });
                }

                var sortKey = this.sortKey
                var order = this.sortOrder
                if (sortKey) {
                    var sortColumn = _.chain(columns).where({name: sortKey}).first().value();
                    switch(sortColumn.sortType) {
                        case 'date':
                            data = order == 1 ?
                                _.sortBy(data, function(d) { return parseDate(d[sortKey]) })
                                : _.sortBy(data, function(d) { return parseDate(d[sortKey]) }).reverse();
                            break;
                        default:
                            data = order == 1 ? _.sortBy(data, sortKey) : _.sortBy(data, sortKey).reverse();
                            break;
                    }
                } else {
                    var columnSort = _.chain(columns)
                    .filter(function(f) { return f.sortIndex })
                    .sortBy(function(d) { return d.sortIndex }).reverse()
                    // .sortBy('sortIndex').reverse()
                    .value();

                    _.each(columnSort, function(col, index) {
                        switch(col.sortType) {
                            case 'ranked':
                                data = _.sortBy(data, function(d){
                                    var rank = col.rankData;
                                    if (rank[d[col.name]]) {
                                        return rank[d[col.name]] + d[col.name];
                                    } else {
                                        return '99' + d[col.name];
                                    }
                                });
                                break;
                            case 'date':
                                if (col.reversed) {
                                    data = _.sortBy(data, function(d) { return parseDate(d[col.name]) }).reverse();
                                } else {
                                    data = _.sortBy(data, function(d) { return parseDate(d[col.name]) });
                                }
                                break;
                            case 'number':
                                if (col.reversed) {

                                    data = _.sortBy(data, function(d) { return parseFloat(d[col.name]) }).reverse();
                                } else {
                                    data = _.sortBy(data, function(d) { return parseFloat(d[col.name]) });
                                }
                                break;
                            default:
                                if (col.reversed) {
                                    data = _.sortBy(data, col.name).reverse();
                                } else {
                                    data = _.sortBy(data, col.name);
                                }
                                break;
                        }
                    });
                }

                this.totalRows = data.length;
                if (this.groupedKey.length == 0) {
                    this.grouped = false;

                    this.dataHandling = false;
                    return data;
                }
                else {
                    this.grouped = true;
                    // var groupedData = _.groupBy(data,this.groupedKey);
                    var groupedKey = this.groupedKey;
                    var groupedData = this.columns;

                    function sum(numbers) {
                        return _.reduce(numbers, function(result, current) {
                            return result + parseFloat(current);
                        }, 0);
                    }

                    var groupedData = _.chain(data)
                        .groupBy(function(value) {
                            var result = '';
                            _.each(groupedKey, function(key, index) {
                                result = result + value[key] + '#';
                            });
                            return result;
                        })
                        .map(function(value) {
                            data = [];
                            // data[groupedKey] = key;

                            _.each(groupedKey, function(key, index) {
                                data[key] = value[0][key];
                            });

                            _.each(groupedData, function(group, index) {
                                if (group.aggregate == 'sum') {
                                    data[group.name] = sum(_.pluck(value, group.name));
                                } else if (group.aggregate == 'average') {
                                    data[group.name] = sum(_.pluck(value, group.name)) / value.length;
                                }
                            });

                            data['data'] = value;
                            return data;
                        })
                        .value();

                    this.dataHandling = false;

                    return groupedData;
                }
            },
            columnData: function() {
                var that = this;
                var columnData = this.columns
                _.each(columnData, function(item) {
                    if(item.filter && item.filterType == 'column') {
                        var data =  $.map(that.gridData, function(n){ return n[item.name];});
                        var uniqueList = _.uniq(data, function(item) { return item;});
                        item.columnData = uniqueList;
                    }
                });

                return columnData;
            }
        },
        filters: {
            capitalize: function (str) {
                return str.charAt(0).toUpperCase() + str.slice(1);
            }
        },
        directives: {
            highlight: function (el, binding, vnode, oldVNode) {

                if (binding.value != undefined
                    && binding.oldValue != undefined
                    && binding.value.value != undefined
                    && binding.value.value != binding.oldValue.value
                    && binding.value.trackchanges != undefined
                    && binding.value.trackchanges == true)
                {
                    $(el).addClass('updated');

                    var that = el;
                    el.style.webkitAnimation = 'none';
                    setTimeout(function() {
                        that.style.webkitAnimation = '';
                    }, 10);
                }
            }
        },
        methods: {
            sortBy: function (key) {
                this.dataHandling = true;
                if (this.sortKey === key) {
                    this.sortOrder = this.sortOrder * -1
                } else {
                    this.sortKey = key
                    this.sortOrder = 1
                }
            },
            filterBy: function (event) {
                this.dataHandling = true;
                this.filters[event.target.id] = event.target.value;
            },
            clearSort: function(event) {
                this.dataHandling = true;
                event.stopPropagation();
                this.sortKey = '';
            },
            isDataRanked: function(column) {
                var columnData = _.chain(this.columnData).where({name: this.groupedKey[0]}).first().value();
                if (columnData == undefined || columnData.rankData == undefined || columnData.rankData[column]) {
                    return 'collapse in';
                } else {
                    return 'collapse';
                }
            },
            formatLink: function(link, entity) {
                var attrWithTags = link.substr(link.indexOf("{"), link.indexOf("}"));
                var attr = attrWithTags.replace('{', '').replace('}', '');
                var newLink = link.replace(attrWithTags, entity[attr]);
                return newLink;
            }
        }
  }
</script>
