<template>
    <span>
        <span v-on:click="showModal">
            <slot></slot>
        </span>
        <div class="modal fade"  v-bind:id="id" tabindex="-1" role="dialog">
            <div v-bind:class="'modal-dialog'" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ config.modalTitle }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data" v-on:submit.prevent="submitItem">
                            <div class="row">
                                <div v-for="(attr,index) in config.attributes" v-bind:key="index" style="min-height:50px;" v-bind:class="'col-md-' + (attr.col == undefined ? 12 : attr.col)">
                                    <div v-if="attr.type == 'display'">
                                        <label v-bind:for="attr.name">{{ attr.displayName }}:</label>
                                        <input disabled type="text" v-bind:name="attr.name" class="form-control" v-model="computedData[attr.name]" />
                                    </div>

                                    <div v-if="attr.type == 'hidden'">
                                        <input type="hidden"  v-bind:name="attr.name" class="form-control" v-model="computedData[attr.name]"  />
                                    </div>

                                    <div v-if="attr.type == 'chars'">
                                        <label v-bind:for="attr.name">{{ attr.displayName }}:</label>
                                        <input type="text" v-bind:name="attr.name" class="form-control" v-model="computedData[attr.name]" />
                                    </div>

                                    <div v-if="attr.type == 'int'">
                                        <label v-bind:for="attr.name">{{ attr.displayName }}:</label>
                                        <input type="number" v-bind:name="attr.name" class="form-control" v-model="computedData[attr.name]" />
                                    </div>

                                    <div v-if="attr.type == 'textarea'">
                                        <label v-bind:for="attr.name">{{ attr.displayName }}:</label>
                                        <textarea v-bind:name="attr.name" class="form-control" rows=3 v-model="computedData[attr.name]"></textarea>
                                    </div>

                                    <div v-if="attr.type == 'checkbox'" >
                                        <label v-bind:for="attr.name" style="with:100%; text-align:center;">{{ attr.displayName }}:</label>
                                        <input type="checkbox" v-bind:name="attr.name" class="form-control"  v-model="computedData[attr.name]" />
                                    </div>

                                    <div v-if="attr.type == 'date'">
                                        <label v-bind:for="attr.name">{{ attr.displayName }}:</label>
                                        <input v-bind:id="id + '-pikaday'" class="form-control"
                                            v-bind:name="attr.name" v-pikaday="computedData[attr.name]" type="text" v-model="computedData[attr.name]"/>
                                    </div>

                                    <div v-if="attr.type == 'select'">
                                        <label v-bind:for="attr.name">{{ attr.displayName }}:</label>
                                        <select v-model="computedData[attr.name]" class="form-control sel-md sel-primary">
                                            <option v-for="(option,index) in selectOptions(attr)" v-bind:key="index" v-bind:value="option.value" >
                                                {{ option.text }}
                                            </option>
                                        </select>
                                    </div>

                                    <div v-if="attr.type == 'radio'">
                                        <label v-bind:for="attr.name">{{ attr.displayName }}:</label>
                                        <ul >
                                        <div  v-for="(option,index) in attr.options" v-bind:key="index">
                                            <li>
                                                <input type="radio" v-bind:value="option.value" v-bind:name="attr.name" v-model="computedData[attr.name]" >
                                                {{ option.text }}
                                            </li>
                                        </div>
                                        </ul>
                                    </div>

                                    <div v-if="attr.type == 'number'">
                                        <label v-bind:for="attr.name">{{ attr.displayName }}:</label>
                                        <input type="number" min='1' v-bind:name="attr.name" class="form-control" v-model="computedData[attr.name]" />
                                    </div>

                                    <div v-if="attr.type == 'filteredSelect'">
                                        <label v-bind:for="attr.name">{{ attr.displayName }}:</label>

                                        <input type="text" v-model="filterKey" class="form-control"/>

                                       <select v-model="computedData[attr.name]" class="form-control sel-md sel-primary" v-bind:placeholder="filterKey" style="height:auto !important" v-bind:size = "filterSize">
                                            <option v-for="(option,index) in filteredData(attr)" v-bind:key="index" v-bind:value="option.value"  >
                                               {{ option.text }}
                                            </option>
                                         </select>
                                    </div>

                                    <div v-if="attr.type == 'multiple'">
                                        <label v-bind:for="attr.name">{{ attr.displayName }}:</label>
                                        <select v-model="computedData[attr.name]" class="form-control sel-md sel-primary" style="height:100% !important"  multiple>
                                            <option v-for="(option,index) in attr.options"  v-bind:key="index"  v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                    </div>



                                     <div v-if="attr.type == 'array'">
                                        <label v-bind:for="attr.name">{{ attr.displayName }}:</label>
                                        <table class="table table-condensed table-no-padding table-no-margin">
                                            <div v-for="(obj,key) in computedData[attr.name]" v-bind:key="key">
                                                <tr v-if="_.contains(attr.options, key)" >
                                                    <td v-for="(atr,index) in obj"  v-bind:key="index">{{key}}:<input type="text" v-model="obj[key]" class="form-control"/></td>
                                                </tr>
                                            </div>

                                        </table>
                                    </div>

                                    <div v-if="attr.type == 'action-text'">
                                        <h4 class="text-center" v-bind:for="attr.name"><strong>{{ attr.displayName }}:</strong></h4>
                                    </div>

                                    <div v-if="attr.type == 'hr'">
                                        <hr>
                                    </div>

                                </div>
                            </div>

                            <div class="row top-buffer">
                                <div class="col-md-12">
                                    <div class="alert alert-danger" v-for="(error,index) in formErrors" v-bind:key="index">
                                        {{ error.error }}
                                    </div>
                                </div>
                            </div>

                            <div class="row" v-if="processing">
                                <div class="col-md-12">
                                    <div class="cssload-container">
                                        <div class="cssload-loading">
                                            <i></i>
                                            <i></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row top-buffer" v-if="config.message">
                                <div class="col-md-12">
                                    <div v-bind:class="'alert alert-' + config.message.type" >
                                        {{ config.message.message }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                              <div class="col-md-6">
                                  <div style="padding:15px;">
                                      <button type="button" class="btn btn-secondary" v-on:click="closeModal" data-dismiss="modal">Close</button>
                                  </div>
                              </div>
                                <div class="col-md-6">
                                    <div style="padding:15px;">
                                        <span v-for="(button,index) in config.buttons" v-bind:key="index">
                                            <button type="submit" v-bind:class="button.buttonClass"
                                                v-on:click.prevent="submitItem(button)" v-bind:disabled="processing">
                                                {{ button.buttonTitle }}
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </span>
</template>

<script>
  export default {

    props: {
        config: Object,
        data: Object
    },
    data: function () {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            id:  uuid.uuid(),
            show: false,
            processing: false,
            defaultData: {},
            formErrors: [],
            filterKey: "",
            filterSelectedKey: "",
            filterSize: 0

        }
    },
    created() {
        var data = this.config.data;
        for (var key in data) {
            if (data.hasOwnProperty(key)) {
                this.defaultData[key] = data[key];
            }
        }


    },
    computed: {
        computedData() {
            if (this.data != undefined) {
                return this.data;

            } else {
                return this.config.data;
            }
        },

        size(){
            if(this.config.size)
            var size = 'modal-'+ this.config.size
            else{
            var size =  '';
            }
            return size;
        },
    },
    methods: {
        submitItem(button) {
            this.processing = true;

            var that = this;
            var entityAttributes =  _.chain(this.config.attributes).pluck('name').flatten().value();

            var url = button.submitUrl.url;
            if (button.submitUrl.id) {
                url = url + button.submitUrl.id;
            }

            axios.post(url, this.computedData).then(function(response){
                that.formErrors = [];
                that.processing = false;
                that.config.data = {};
                that.closeModal();
            }).catch(function(error){
                that.formErrors = [];
                if (error.status == 422) {
                    for (var key in error.responseJSON.errors) {
                        if (error.responseJSON.errors.hasOwnProperty(key)) {
                            that.formErrors.push({ error: error.responseJSON.errors[key][0] });
                        }
                    }
                }
                toastr.error(error);
                that.processing = false;
            });


        },

        showModal() {
            $('#' + this.id).modal('show');
        },
        closeModal() {
            $('#' + this.id).modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();

            // this.$emit('submitted');
        },

        filteredData(attribute)
        {
            var that = this;

            var key =  that.filterKey;


            var filteredList = _.chain(attribute.options)
            .filter(
                function(data){
                    return data.text.toLowerCase().indexOf(key.toLowerCase()) >= 0;
                })
            .sortBy(
                function(value){
                    value.split
                    return value.length;
            })
            .value();

            if(filteredList.length > 5)
            {
                that.filterSize = 5;
            }
            else
            {
                that.filterSize = filteredList.length;
            }

            // attribute.name = filteredList[0].value;
            that.config.data[attribute.name] = filteredList[0].value;
            // return  that.defaultData[attribute.name];
            return filteredList;

        },


        selectOptions(attribute){
            var that = this;

            if(attribute.selected != undefined && that.config.data[attribute.name] == undefined){
                that.config.data[attribute.name]= _.chain(attribute.options).where({text: attribute.selected}).pluck('value').flatten().value()[0];
            }

            return attribute.options;
        },

    }
  }
</script>
