<template>
    <div>
        <div class="content-header" v-show="showHeader" >
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark" v-bind:value="product.name"><i v-bind:class="'nav-icon '+ product.icon"></i> {{product.name}}</h1>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-sm btn-outline-primary float-right ml-2" v-on:click="removePage"><i class="fas fa-times"></i> Remove Tab</button>
                        <layout-breadcrumb :data="activeTabs" ></layout-breadcrumb>
                    </div>
                </div>
            </div>
        </div>
        <section >
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs  card-header-tabs pull-xs-left" >
                        <li class="nav-item">
                            <a class="nav-link active" v-on:click="switchTab('home')" id="home-tab" data-toggle="tab" v-bind:href="'#section-home-tab-' +id" role="tab" aria-controls="home" aria-selected="true">Home</a>
                        </li>

                        <li class="nav-item"
                        v-for="(section, index) in config"
                        v-bind:key="index +'-nav'"
                        v-on:click="incrementFav(section.id);switchTab(section.name)">
                            <a class="nav-link"
                            data-toggle="tab"
                            v-bind:href="'#section-tab-'+ id + section.id"
                            v-bind:aria-controls="index" role="tab" >
                                {{section.name}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="tab-content" v-bind:id="'Page-'+id+'-Section'">

                                <div class="tab-pane fade show active" v-bind:id="'section-home-tab-'+id" role="tabpanel" aria-labelledby="section-home-tab">

                                    <h3>Favourite Directory Tools</h3>

                                    <div class="card-deck">

                                        <div class="card" style="width: 18rem;" v-for="(section, index) in config" v-bind:key="index +'-fav'">
                                            <div class="card-body">
                                                <h5 class="card-title">{{section.name}}</h5>
                                                <p class="card-text">{{section.description}}</p>
                                                <a class="card-link" data-toggle="tab" v-bind:href="'#section-tab-'+ id + section.id" >Open</a>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="tab-pane fade" v-for="(section,index) in config"
                                v-bind:key="index"
                                v-bind:id="'section-tab-'+ id + section.id"
                                role="tabpanel"
                                v-bind:aria-labelledby="'tab-'+  section.id"
                                >
                                    <partial-datagrid-component :config="section" :product="product.uniqueKey"></partial-datagrid-component>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</template>

<script>
    export default {

        data() {
            return {
                activeTabs:[],
                showHeader:false
            }
        },

        props:{
            id:Number,
            product:Object,
            config:Array,
        },

        mounted(){
            this.activeTabs.push(this.product.name);
            this.activeTabs.push('home');
            this.checkShowHeader();

        },
        methods:{

            removePage(){
                this.$events.fire('removePage',this.id);
            },

            incrementFav(id){
                axios.get('/sections/favourite/' + id);

            },
            switchTab(item){
                this.activeTabs.splice(-1,1);
                this.activeTabs.push(item);
            },
            checkShowHeader(){
                var _this =  this;
                axios.get('/show/header/').then(function(response) {
                    _this.showHeader=response.data;
                });
            }


        }

    }
</script>
