<template>
    <div class="section">
        <div class="row">
            <div class="col-md-12">
                <form v-on:submit.prevent>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" name="_token" :value="csrf">
                            <div class="form-group" v-for="(input,index) in config.input" v-bind:key="index">
                                <div v-if="input.type == 'char'" class="form-group row">

                                    <label class="col-sm-2 col-form-label"
                                    v-bind:for="input.name">
                                        {{input.placeholder}}:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                        v-model="formObject[input.name]"
                                        class="form-control form-control-sm"
                                        v-bind:id="input.name"
                                        v-bind:aria-describedby="input.placeholder"
                                        v-bind:placeholder="input.placeholder">
                                    </div>
                                </div>
                                <div v-else class="form-group row">
                                    <label class="col-sm-2 col-form-label"
                                    v-bind:for="input.name">
                                        {{input.placeholder}}:
                                    </label>

                                    <div class="col-sm-10">
                                        <input type="text"
                                        v-model="formObject[input.name]"
                                        class="form-control form-control-sm"
                                        v-bind:id="input.name"
                                        v-bind:aria-describedby="input.placeholder"
                                        v-bind:placeholder="input.placeholder">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" v-on:click="submitForm">Submit</button>
                        </div>
                        <div class="col-md-6">

                            <form class="float-sm-right">
                                <div class="form-row align-items-center">
                                    <div class="col-auto my-1 " v-if="gridData.length > 0">
                                        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect" >Preference</label>

                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Go To
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" v-bind:href="'#' + section.title" v-for="(section,index) in gridData" v-bind:Key="index" >{{section.title}}</a>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-auto my-1">
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                            <label class="custom-control-label" for="customControlAutosizing">Remember my preference</label>
                                        </div>
                                    </div>
                                    <div class="col-auto my-1">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-primary"><i class="fas fa-print"></i></button>
                                            <button v-on:click="createPdf" type="button" class="btn btn-primary"><i class="fas fa-file-pdf"></i></button>
                                            <button type="button" class="btn btn-primary"><i class="fas fa-file-excel"></i></button>
                                            <button type="button" class="btn btn-primary"><i class="fas fa-save"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row" v-if="!loading"  v-for="(section,index) in gridData" v-bind:key="index">
            <div class="col-md-12" >
                <div class="card card-primary accordion"
                v-for="(data,index) in section.result.data"
                v-bind:key="index">
                    <div class="card-header"

                    v-bind:id="section.result.title"
                   >
                        <div class="row">
                            <div class="col-md-10"  data-toggle="collapse"  v-bind:href="'#collapse-section-' + index">
                                <h3>{{section.result.title}}</h3>
                            </div>
                            <div class="col-md-2" v-if="section.section.can_add">
                                <generic-modal :config="section.dataLoader" :data="formObject">
                                    <button class="btn  btn-sm btn-default float-right mr-4"><i class="fas fa-cloud-download-alt"></i></button>
                                </generic-modal>
                            </div>
                        </div>
                    </div>
                    <div class="card-body collapse show" v-bind:id="'collapse-section-' + index">
                        <div class="row">
                            <div class="col-md-12">
                                 <b-table striped hover responsive :items="data" ></b-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-else>
            <div class="col-md-12">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        config:Object,
        product:String
    },
    mounted:function(){
        this.initFormObject();
    },
    data() {
      return {
          csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
          uuid: undefined,
          loading:false,
          formObject:{},
          gridData:[],
          tmp:{}
      }
    },
    computed:{
        gridDataComputed(){

            return _.filter(this.gridData, function(val){
                return Array.isArray(val);
            });
        }

    },
    methods:{

        initFormObject(){

            var that =  this;
            var keys = _.pluck(that.config.input, 'name');

            _.each(that.config.input, function(value){

                if(value.is_required){
                    that.formObject[value.name] = undefined;
                }

                if(value.default_value  !== null){
                    that.formObject[value.name] = value.default_value;
                }

            });

            that.formObject.module = that.config.uniqueKey;

        },
        submitForm(){

            var that = this;
            that.loading = true;
            that.gridData = [];
            that.setUuid();

            that.config.section.forEach(element => {
                axios.post('/sections'.concat('/data/', element.uniqueKey), that.formObject).then(function(response){
                    that.gridData.push(response.data);
                    that.loading = false;
                }).catch(function(error){
                    toastr.error('Whoops something went wrong');
                });
            });
        },

        goToAnchor(title){
            var ele = document.getElementById(title);
            window.scrollTo(ele.offsetLeft,ele.offsetTop);
        },
        createPdf(){

           window.open('/make/module/pdf/'.concat(this.product, '/',this.config.uniqueKey,'/',this.uuid ),'_blank')

        },
        setUuid(){
             this.uuid = uuid.uuid();
             this.formObject.uuid =  this.uuid;
        }

    }
}
</script>
