<template>
    <div class="tab-content" id="nav-tabContent">
        <div v-for="(page, index) in pageList"
            v-bind:key="index"
            v-bind:id="'contaner-tab-' + page.uniqueKey + '-' + index"
            v-bind:role="'tabpanel'"
            v-bind:aria-labelledby="'container-tab-' + page.uniqueKey"

            v-bind:class="[{'show active' :index == 0},'tab-pane fade']"
            >

            <page-component
            :id="index"
            :product="page"
            :config="page.module"></page-component>
        </div>
    </div>
</template>

<script>
  export default {
      props:{
          initial:Object
      },
    data() {
      return {
          pageList:[]
      }
    },

    mounted(){
        this.pageList.push(this.initial);
        this.activePage = this.initial.uniqueKey;
        this.$events.fire('newPage', {uniqueKey: this.initial.uniqueKey, name:this.initial.name});
        this.$events.listen('addPage', eventData => this.getPage(eventData));
        this.$events.listen('removePage', eventData => this.removePage(eventData));

    },
    methods:{
        getPage(uniqueKey){

            var response  = axios.get('/product/get/'.concat(uniqueKey)).then(response => {
                this.pageList.push(response.data);
                this.$events.fire('newPage', {uniqueKey: response.data.uniqueKey, name:response.data.name});

            });
        },

        removePage(index){
            this.pageList = _.without(this.pageList,this.pageList[index]);
        }
    }
  }
</script>
