<template>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item"
        v-for="(item, key) in navbarItemsComputed"
        v-bind:key="key">
            <a  class="nav-link"
            v-on:click="addAttachment(item.name)">
                <i v-show="icons" class="nav-icon fa fa-th"></i>

                    {{item.name}}
                    <span v-if="item.new" class="right badge badge-danger">New</span>
            </a>
        </li>
    </ul>

</template>

<script>
  export default {
    props:{
        icons:Boolean
    },
    data() {

      return {
          navbarItems:[]
      }
    },
    mounted(){
        this.getMenu();
    },

    computed:{
        navbarItemsComputed(){
            return  _.chain(this.navbarItems).map(function(item){
                item.new =  moment(item.created_at).add(14, 'days').unix() >  moment().unix();
                return item;
            }).value();
        }
    },
    methods: {

        addAttachment(item){

            if(!window.location.pathname.includes('product/')){

               window.location.href = '/product/'+ item;
            }

            // if(window.location.pathname.includes('product/'));


            this.$events.fire('addPage',item);
            return null;
        },

        getMenu(){
            axios.get('/navigation/products').then(response => (this.navbarItems = response.data));
        }

    }
  }
</script>
