<template>
    <nav class="nav nav-pills nav-justified">
        <a v-for="(item,index) in navList"
        v-bind:key="index"
        v-bind:href="'#contaner-tab-' + item.uniqueKey + '-' + index"
        v-bind:id="'#contaner-nav-' + index"
        v-bind:class="[{ 'active': index == 0 }, 'nav-link']"
        data-toggle="tab"
       >
            {{item.name}}
        </a>
    </nav>

</template>

<script>
export default {
    props:{
        initial:Object,
    },

    data() {
      return {
          navList:[]
      }
    },

    mounted(){

       this.$events.listen('newPage', eventData => this.addPage(eventData));
       this.$events.listen('removePage', eventData => this.removePage(eventData));

    },
    methods:{

        switchPage(uniqueKey){
            this.$events.fire('activePage',uniqueKey);
        },
        addPage(event){

           console.log('Got A new page request');

            this.navList.push(event);
            // $(".nav a").removeClass("active");
            // document.getElementById('#contaner-nav-' + (this.navList.length -1)).className  += 'active';

        },
        removePage(index){
            this.navList.splice(index,1);
        }
    }
}
</script>
