.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    position: absolute;
    right: 15px;
    top: 20px;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    font-family: 'FontAwesome';
    content: "\f067";

}
